@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

/* GLOBAIS */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --fundo-desktop: #f7eee8;
    --branco:#fff;
    --texto-principal:#4a3b31;
    --texto-secundario:#8a7a6a;
    --botao:#b89063;
    --hover-claro:#9e7552;
    --hover-escuro:#a27949;
    --font-titulo:'Playfair Display', serif;
    --font-texto:'Poppins', sans-serif;
}

body{
    background:var(--fundo-desktop);
    font-family:var(--font-texto);
}

/* HEADER */

header{
    width:100%;
    height:90px;
    background:var(--branco);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 18px;
    position:relative;
    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.logo h1{
    font-family:var(--font-titulo);
    font-size:clamp(1.3rem,8vw,2.2rem);
    color:var(--texto-principal);
}

.logo p {
    color: var(--texto-secundario);
    font-family: var(--font-texto);
    font-size: clamp(0.9rem, 2vw, 2rem);
}

/* MENU DESKTOP */

.navegacao{
    display:flex;
    gap:32px;
    align-items:center;
}

.navegacao a{
    text-decoration:none;
    color:var(--botao);
    transition:.3s;
}

.navegacao a:hover{
    color:var(--hover-claro);
}

/* BOTÃO */

.botao{
    text-decoration:none;
    background:var(--botao);
    color:white;
    padding:12px 24px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.botao:hover{
    background:var(--hover-escuro);
}

/* BOTÃO MENU */

#barra-lateral{
    display:none;
    width:48px;
    height:48px;
    border:none;
    background:var(--botao);
    color:white;
    font-size:1.8rem;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

#barra-lateral:hover{
    background:var(--hover-escuro);
}

/* RESPONSIVO */

@media (max-width:1240px){
    .botao{
        display:none;
    }

    #barra-lateral{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    #ativo{
        display:none;
        position:absolute;
        top:100px;
        right:18px;
        z-index:100;
    }

    #ativo.ativo{
        display:block;
    }

    .navegacao{
        flex-direction:column;
        gap:18px;
        width:160px;
        background:white;
        padding:20px;
        border-radius:12px;
        box-shadow:0 5px 20px rgba(0,0,0,.15);
    }
}