/* GLOBAIS */

:root{
    --branco:#FFF;
    --texto-grande:#4A3B31;
    --texto-pequeno:#8A7A6A;
    --fonte-principal: Arial, Helvetica, sans-serif;
    --line-height: 1.6rem;
    --texto-corpo: 400 1rem var(--fonte-principal);
    --titulo-principal: 700 2.5rem var(--fonte-principal);
    --subtitulo: 600 1.5rem var(--fonte-principal);
}

main {
    max-width: 1200px;
    margin: auto;
}

.coluna2 h2 {
    color: var(--texto-grande);
    font: var(--titulo-principal);
}
.coluna2 h3 {
    font: var(--subtitulo);
}

/* COLUNAS */

.controle-display {
    display: flex;
    gap: 24px;
}

.coluna1 {
    padding: 32px;
    flex-grow: 3;
}

.modelo-imagem {
    max-width: 530px;
}

.modelo-imagem img {
    width: 100%;
    border-radius: 12px;
}

.coluna2 {
    padding: 32px;
    flex-grow: 2;
}

.coluna1, .informacao {
    margin-bottom: 24px;
}

.informacao p {
    font: var(--texto-corpo);
}

.sobre {
    line-height: var(--line-height);
}

/* RESPONSIVIDADE */

@media (max-width: 830px) {
    .controle-display {
        flex-direction: column;
        align-items: center;
    }
}