* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f1eb;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;
}

header h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #4A3B31;
}

header p {
    font-size: 0.8rem;
    color: #8A7A6A;
}

header nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

nav a {
    color: #4A3B31;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #B89063;
    text-decoration: underline;
}

header .botao {
    background-color: #B89063;
    color: #fff;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.4s;
}

header .botao:hover {
    background-color: #a27949;
}

main  {
    margin: 20px auto;
    padding: 8px;
    max-width: 1100px;
}

main h2 {
    font-size: 1.6rem;
}

main p {
    line-height: 1.7em;
    font-size: 1.1rem;
    margin-top: 40px;
    text-align: justify;
}