
/* MAIN */
main  {
    margin: 80px auto;
    padding: 16px;
    max-width: 1100px;
}

main h2 {
    font-size: 1.8rem;
}

main p {
    line-height: 1.7em;
    font-size: 1.1rem;
    margin: 40px 0px;
    text-align: justify;
}