
/* MAIN */
main  {
    margin: 20px auto;
    padding: 16px;
    max-width: 1100px;
}

main h2 {
    font-size: 1.6rem;
}

main p {
    line-height: 1.7em;
    font-size: 1.1rem;
    margin-top: 40px;
    text-align: justify;
}