/* GLOBAIS */

:root {
    --titulos: #3F322C;
    --subtitulo: #8B6F5A;
    --textos: #5E5A57;
    --modelos: #F5F0EB;
}

/* MAIN.CONTAINER */

.container {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

/* .controle-tamanho {
    max-width: 750px;
    margin: auto;
}

.apresentacao {
    width: 100%;
    margin: 90px 0px;
}

.apresentacao h2 {
    color: var(--titulos);
    font-size: 2.6rem;
    margin-bottom: 8px;
}

.apresentacao .slogan {
    font-size: 1.2rem;
    margin-bottom: 26px;
    color: var(--subtitulo);
}

.apresentacao p {
    color: var(--textos);
    font-size: 1rem;
    line-height: 1.9;
} */

    /* BANNER */

.banner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 340px;
    background-image: url('../imagens/fundo/lirios-brasil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    /* COLEÇÃO COMPLETA */

.colecao {
    max-width: 1200px;
    margin: 120px auto 0;
}


.titulo-colecao h2 {
    color: var(--titulos);
    text-align: center;
    margin-bottom: 64px;
    font-size: 1.6em;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
}

.modelo {
    background-color: var(--modelos);
    border: 1px solid #D7C8BA;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    padding: 20px;
    max-width: 230px;
    width: 100%;
    border-radius: 16px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition:
    transform 0.3s ease,
    box-shadow 0.4s ease;
}

.modelo h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--titulos);
    letter-spacing: 0.7px;
    margin: 20px 0 14px;
    text-align: center;
}


.fotos {
    width: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.045);;
    align-self: center;
    max-width: 180px;
    height: 288px;
    object-fit: cover;
    border-radius: 32px;
    cursor: pointer;
    transition:
        transform .3s ease,
        opacity .3s ease,
        box-shadow .3s ease,
        top .3s ease,
        left .3s ease;
}


section .compra {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
     background: #3F322C;
    color: white;
    transition: .3s;
    text-decoration: none;
    text-align: center;
}

section .compra:hover {
    background: #5B463D;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.201);
    transform: translateY(-1px);
}

.item-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    /* JAVASCRIPT */

body.zoomed::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(8px);
    z-index: 998;
    pointer-events: none;
}

body.zoomed .fotos:not(.aumenta) {
    filter: blur(3px);
    opacity: 0.35;
}


.aumenta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: auto;
    height: auto;
    max-width: 84vw;
    max-height: 85vh;
    opacity: 1;
    border: 1px solid #b9b0a8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    z-index: 999;
    cursor: zoom-out;
    border-radius: 24px;
}

    /* RESPONSIVIDADE */

    /* BANNER */

@media (max-width: 450px) {
    .banner {
        height: 238px;
    }

    .fotos {
        max-width: 150px;
        height: 240px;
    }
}

@media (min-width: 35em) {
    .banner {
        height: 390px;
    }
}

@media (min-width: 40em) {
    .banner {
        height: 470px;
    }
}

@media (min-width: 52em) {
    .banner {
        height: 260px;
        background-image:
            url('../imagens/fundo/lirios-brasil-desktop.png');
    }
}

@media (min-width: 66em) {
    .banner {
        height: 350px;

        background-image:
            url('../imagens/fundo/lirios-brasil-desktop.png');
    }
}

    /* GRID > GALERIA */

    @media (min-width: 760px) {
        .galeria {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1100px) {
        .galeria {
            grid-template-columns: repeat(4, 1fr);
        }
    }